<div>
  <main>
    <form (submit)="addTask()" *ngIf="taskRepo.metadata.apiInsertAllowed()">
      <input
        [(ngModel)]="newTaskTitle"
        name="newTaskTitle"
        placeholder="What needs to be done?"
      />
      <button>Add</button>
    </form>
    <div *ngFor="let task of tasks$ | async">
      <input
        type="checkbox"
        [(ngModel)]="task.completed"
        (change)="save(task)"
      />
      <span> {{ task.title }}</span>
      <button (click)="deleteTask(task)">X</button>
    </div>
    <footer>
      <button (click)="setAllCompleted(true)">Set all completed</button>
      <button (click)="setAllCompleted(false)">Set all uncompleted</button>
    </footer>
  </main>
</div>
